/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #999;
  text-align: center;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 18px;
}

.jumbotron code {
  margin-top: 30px;
  position: relative;
  left: -12%;
  width: 124%;
  margin-bottom: 1em;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Extra */
body {
  font-size: 16px;
  padding-top: 0;
}

.header {
  text-align: center;
  margin-bottom: 0;
}

.header h1 {
  font-size: 64px;
  font-weight: bold;
  padding: 0.5em 0.25em;
}

.header h1 em {
  color: #999;
  display: block;
  font-size: 15px;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: uppercase;
}

.header h1 span {
  font-size: 18px;
  color: #999;
}

h3 {
  padding-top: 20px;
}

code {
  padding: 1em;
  display: block;
  margin-bottom: 2em;
  word-break: break-all;
  position: relative;
}

code a {
  bottom: -20px;
  color: #5CB85C;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  right: 0;
}

code span {
  color: #999;
}

.jumbotron {
  padding: 2em;
  text-align: center;
}

p a {
  color: #5CB85C;
}

.footer {
  padding: 3em 0;
}

.check-it-out {
  position: fixed;
  top: 0;
  left: 6%;
  overflow: hidden;
}

.check-it-out i {
  display: none;
}

.check-it-out p {
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 12px;
  text-align: center;
  width: 100%;
}

@media (min-width: 500px ) {
  .check-it-out {
    left: auto;
    right: 6px;
    text-align: right;
    top: 42px;
  }

  .check-it-out p {
    padding: 8px 36px 0 0;
  }

  .check-it-out span {
    display: block;
  }

  .check-it-out i {
    display: block;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
  }
}
